{% load pipeline %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% stylesheet "fastube" %}
    <script src="http://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
</head>
<body>
    {% include "partials/header.html" %}
    {% include "partials/message.html" %}
    <section>
        {% block content %}{% endblock %}
    </section>
    {% include "partials/footer.html" %}
    {% block custom_javascripts %}{% endblock %}
</body>
</html>
